.header {
  background: none;
}

.choose-round {
  position: relative;
  height: 100%;
  width: 100%;
  /* max-width: 100%; */
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* background: url('https://sashahjggggv.github.io/photos-great-house/rounds/building.jpg') center/auto 100% no-repeat; */
}
.choose-round__bg-img {
  height: 100%;
  width: auto;
}
.choose-round__paths {
  height: 83.7%;
  position: absolute;
  top: 3.65%;
  left: 53%;
  transform: translateX(-50%);
  /* left: 13.3%; */
}
.choose-round__path-round:hover {
  fill: #9EFF00;
  cursor: pointer;
}

.round-bti {
  display: none;
  margin: 100px 0;
}
.round-bti__container {
  padding: 0;
  margin: 0 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.round-bti__bg-image {
  width: 100%;
}
.round-bti__container > svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-height: 100%;
  /* & > g {
    transform: translate(100%, 0) rotate(90deg);
  } */
}
.round-bti__container > svg g.apartment:hover path, .round-bti__container > svg g.apartment:hover rect {
  fill: #fff;
  cursor: pointer;
}
.round-bti.active {
  display: block;
}

@media (max-width: 1100px) {
  .round-bti {
    margin: 50px 0;
  }
  .round-bti__container {
    margin: 0;
    padding: 0 20px;
    overflow: auto;
    display: flex;
    justify-content: start;
  }
  .round-bti__bg-image {
    width: 300%;
  }
  .round-bti__foreground-svg {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .choose-round {
    background: url("https://sashahjggggv.github.io/photos-great-house/rounds/building.jpg") -450px 0/auto 100% no-repeat;
  }
}