.header {
  background: none;
}

.choose-round {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.choose-round__bg-img {
  height: 100%;
  width: auto;
}
.choose-round__round-block {
  display: none;
  position: absolute;
  top: 20%;
  right: 10%;
  z-index: 1;
  border: 2px solid #9EFF00;
  border-radius: 25px;
  background: #F8F1F1;
  padding: 15px;
}
.choose-round__round-block.active {
  display: block;
}
.choose-round__round-block-num {
  margin-bottom: 10px;
}
.choose-round__round-block-true {
  margin-bottom: 5px;
  color: #FFA500;
}
.choose-round__round-block-false {
  margin-bottom: 5px;
  color: red;
}
.choose-round__paths {
  height: 83.7%;
  position: absolute;
  top: 3.65%;
  left: 53%;
  transform: translateX(-50%);
}
.choose-round__path-round:hover {
  fill: #9EFF00;
  cursor: pointer;
}
.choose-round__path-round.sold:hover {
  fill: #ff3300;
  cursor: pointer;
}

.round-bti {
  display: none;
  padding: 100px 0;
  position: relative;
}
.round-bti__container {
  padding: 0;
  margin: 0 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.round-bti__bg-image {
  width: 100%;
}
.round-bti__bg-image-90 {
  display: none;
  width: 240%;
}
.round-bti__round-block {
  display: none;
  border: 2px solid #FFA500;
  border-radius: 25px;
  background: #F8F1F1;
  padding: 15px;
  width: 80%;
  transform: translateX(-50%);
  margin-left: 50%;
  margin-bottom: 20px;
}
.round-bti__round-block-num {
  margin-bottom: 10px;
}
.round-bti__round-block-true {
  margin-bottom: 5px;
  color: #FFA500;
}
.round-bti__round-block-false {
  margin-bottom: 5px;
  color: red;
}
.round-bti__container > svg {
  position: absolute;
  z-index: 1;
}
.round-bti__container > svg .apartment * {
  fill: rgba(255, 255, 255, 0);
}
.round-bti__container > svg .apartment.sold * {
  fill: #f00;
}
.round-bti__container > svg g.apartment:hover path, .round-bti__container > svg g.apartment:hover rect {
  fill: #9EFF00;
  cursor: pointer;
}
.round-bti__container > svg g.apartment.sold:hover path, .round-bti__container > svg g.apartment.sold:hover rect {
  fill: #f00;
  fill-opacity: 0.8;
  cursor: pointer;
}
.round-bti__foreground-svg {
  width: 100%;
  max-height: 100%;
}
.round-bti__foreground-svg-90 {
  display: none;
  height: 100%;
}
.round-bti__foreground-svg-90 > g {
  transform: translate(100%, 0) rotate(90deg);
}
.round-bti.active {
  display: block;
}
.round-bti__apartment-info {
  display: none;
  position: absolute;
  top: 20%;
  right: 30%;
  z-index: 1;
  border: 3px solid #FFA500;
  border-radius: 25px;
  background: #F8F1F1;
  padding: 15px;
  flex-direction: column;
  align-items: center;
}
.round-bti__apartment-info-true {
  margin-bottom: 5px;
  color: #FFA500;
}
.round-bti__apartment-info-false {
  margin-bottom: 5px;
  color: red;
}
.round-bti__place {
  margin-bottom: 5px;
}

@media (max-width: 1100px) {
  .choose-round__paths {
    left: 57%;
  }
}
@media (max-width: 600px) {
  .choose-round__paths {
    left: 62%;
  }
  .choose-round__round-block.active {
    display: none;
  }
  .round-bti {
    padding: 50px 0;
    overflow: auto;
  }
  .round-bti__container {
    margin: 0 50px;
    justify-content: start;
  }
  .round-bti__round-block.active {
    display: block;
  }
  .round-bti__bg-image {
    display: none;
  }
  .round-bti__bg-image-90 {
    display: block;
  }
  .round-bti__foreground-svg {
    display: none;
  }
  .round-bti__foreground-svg-90 {
    display: block;
  }
}
@media (min-width: 600px) {
  .round-bti__apartment-info.active {
    display: flex;
  }
}