.location {
  margin-top: 100px;
  margin-bottom: 50px;
}
.location__container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.location__text {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.location__grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
}
.location__grid-element {
  display: flex;
  align-items: center;
  background: rgba(255, 165, 0, 0.3137254902);
  border-radius: 40px;
}
.location__grid-elem-img {
  width: 50px;
  height: 50px;
  margin: 0 15px;
}
.location__grid-elem-rigth {
  margin-right: 15px;
  width: 100%;
}
.location__grid-elem-subtitle {
  margin: 10px 0;
}
.location__grid-elem-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.location__grid-elem-type-logo {
  margin-left: 5px;
  width: 30px;
  height: 30px;
}
.location__grid-elem-paragraf {
  margin: 0;
  font-size: 22px;
  color: #000;
}
.location__block-map {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.location__block-map h3 {
  line-height: 32px;
}
.location__compas {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.location__map {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  height: 500px;
}
.location__bg1 {
  bottom: 5%;
  left: 45%;
  width: 50px;
}
.location__bg2 {
  top: 20%;
  left: 2%;
  width: 70px;
}

@media (max-width: 1000px) {
  .location__grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
  }
  .location__grid-element {
    border-radius: 35px;
  }
  .location__grid-elem-img {
    width: 35px;
    height: 35px;
    margin: 0 5px 0 10px;
  }
  .location__grid-elem-rigth {
    margin-right: 10px;
  }
  .location__grid-elem-type-logo {
    width: 25px;
    height: 25px;
    margin-left: 3px;
  }
  .location__grid-elem-paragraf {
    font-size: 20px;
  }
}