@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  background: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  transition: all 0.2s ease;
  box-sizing: border-box;
  background-color: #F8F1F1;
  font-family: "Open Sans", sans-serif;
}
body * {
  transition: all 0.2s ease;
  box-sizing: border-box;
}

section {
  position: relative;
}

.container {
  padding-left: 100px;
  padding-right: 100px;
}

.header {
  /* background: #F8F1F1; */
  position: fixed;
  top: -100px;
  left: 0;
  z-index: 4;
  width: 100%;
}
.header.sticky {
  top: 0;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
}
.header__logo {
  width: 90px;
}
.header__logo:hover, .header__logo :focus {
  transform: scale(1.1);
}
.header__links {
  display: flex;
}
.header__link {
  position: relative;
  color: #FFA500;
  font-weight: 500;
  font-size: 18px;
  margin-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header__link:hover, .header__link:focus {
  transform: scale(1.1);
}
.header__link.active::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: #FFA500;
}
.header__link:first-child {
  margin: 0;
}
.header__btns {
  display: flex;
  align-items: center;
}
.header__btn-contacts {
  position: relative;
  background: #fff;
  font-size: 18px;
  font-weight: 600;
  color: #FFA500;
  border: 3px solid #FFA500;
  box-shadow: 0 0 10px #FFA500;
  border-radius: 22.5px;
  padding: 8px 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header__btn-contacts:hover, .header__btn-contacts.active {
  background: #FFA500;
  color: #fff;
}
.header__btn-contacts:active {
  transform: scale(0.9);
}
.header__btn-contacts-z-block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 22.5px;
}
.header__btn-contacts-z-block.active {
  display: block;
}
.header__menu-btn {
  display: none;
  position: relative;
  border: 3px solid #FFA500;
  box-shadow: 0 0 10px #FFA500;
  border-radius: 50%;
  background: #fff;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.header__menu-btn.active {
  border: 3px solid red;
  box-shadow: 0 0 10px red;
}
.header__menu-btn.active .icon span:nth-child(2) {
  opacity: 0;
}
.header__menu-btn.active .icon span:first-child, .header__menu-btn.active .icon span:last-child {
  top: 8px;
  background-color: red;
}
.header__menu-btn.active .icon span:first-child {
  transform: rotate(45deg);
}
.header__menu-btn.active .icon span:last-child {
  transform: rotate(-45deg);
}
.header__menu-btn .icon {
  width: 23px;
  height: 16px;
  cursor: pointer;
  position: relative;
}
.header__menu-btn .icon span {
  background: #FFA500;
  height: 3px;
  position: absolute;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
  border-radius: 10px;
}
.header__menu-btn .icon span:first-child {
  top: 0;
}
.header__menu-btn .icon span:nth-child(2) {
  top: 8px;
}
.header__menu-btn .icon span:last-child {
  top: 16px;
}
.header__menu-btn-close {
  display: none;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
}
.header__menu-btn-close.active {
  display: block;
}
.header__menu-btn-open {
  display: block;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
}
.header__menu-btn-open.active {
  display: none;
}

.contacts {
  position: fixed;
  bottom: 150%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, 50%);
  background: #F0EAD6;
  box-shadow: 0 0 6px 3px #F0EAD6;
  border-radius: 30px;
  padding: 30px 50px;
  visibility: hidden;
}
.contacts.active {
  bottom: 50%;
  visibility: visible;
}
.contacts__container {
  display: flex;
  justify-content: space-between;
}
.contacts__container > div {
  max-width: 50%;
}
.contacts__block-phone {
  margin-bottom: 10px;
}
.contacts__input {
  border: 2.5px solid #FFA500;
  padding: 9.5px 12px;
  border-radius: 30px;
  margin: 5px 0;
  font-size: 16px;
  width: 100%;
}
.contacts__input:hover, .contacts__input:active, .contacts__input:focus {
  box-shadow: 0 0 10px #FFA500;
}
.contacts__btn-submit {
  font-size: 20px;
  color: #E6E6FA;
  margin-top: 5px;
  background: #FFA500;
  width: 100%;
  height: 47px;
  border-radius: 30px;
}
.contacts__btn-submit:hover, .contacts__btn-submit:focus {
  box-shadow: 0 0 10px #FFA500;
}
.contacts__btn-submit:active {
  transform: scale(0.9);
}
.contacts__operator-name {
  display: flex;
  align-items: center;
  color: #FFA500;
  font-size: 18px;
  margin-bottom: 5px;
}
.contacts__operator-name_email::after {
  content: url(../img/email.png);
  margin-left: 5px;
}
.contacts__link {
  color: #6495ED;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-radius: 20px;
  border: 2.5px solid #FFA500;
}
.contacts__link:hover, .contacts__link:focus {
  background: #FFA500;
  color: #E6E6FA;
}
.contacts__link:hover > svg path, .contacts__link:focus > svg path {
  fill: #E6E6FA;
}
.contacts__link > svg:first-child {
  margin-right: 5px;
}
.contacts__link:active {
  transform: scale(0.9);
}
.contacts__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.contacts__close:hover, .contacts__close:focus {
  transform: scale(1.1);
}

.menu {
  position: fixed;
  top: 50%;
  left: 110%;
  z-index: 4;
  transform: translateY(-50%);
  background: #F0EAD6;
  box-shadow: 0 0 6px 3px #F0EAD6;
  border-radius: 30px;
  padding: 30px 50px;
  /* visibility: hidden; */
}
.menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__link {
  position: relative;
  color: #FFA500;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.menu__link:hover, .menu__link:focus {
  transform: scale(1.1);
}
.menu__link.active {
  transform: scale(1.1);
  font-weight: 700;
}
.menu__link:last-child {
  margin: 0;
}
.menu.active {
  left: 50%;
  transform: translate(-50%, -50%);
}

.contacts-bg-shadow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
}
.contacts-bg-shadow.active {
  display: block;
}

.gallery-footer {
  overflow: hidden;
  position: relative;
  height: 300px;
}
.gallery-footer .movable {
  display: flex;
  height: 85vh;
  max-width: 100%;
  transition: transform 0.4s;
}
.gallery-footer .movable > div {
  flex: 1;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-footer .movable img {
  height: auto;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  /* width: calc(100% / 6); */
}
.gallery-footer__btns {
  position: absolute;
  z-index: 2;
  bottom: 50%;
  transform: translateY(50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gallery-footer__btns > button {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 50px;
  border: 4px solid #FFA500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-footer__btns > button:hover {
  background: #FFA500;
}
.gallery-footer__btns > button:hover svg path {
  fill: #fff;
}
.gallery-footer__btns > button:active {
  box-shadow: 0 0 10px #FFA500;
}
.gallery-footer .prev3 svg, .gallery-footer .prev1 svg, .gallery-footer .prev2 svg, .gallery-footer .prev svg {
  transform: rotate(180deg);
}

.footer__container {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #dfdac6;
}
.footer__info {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer__logo {
  margin-right: 60px;
  width: 130px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
.footer__links {
  display: flex;
  flex-direction: column;
}
.footer__link {
  position: relative;
  color: #6495ed;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.footer__link:hover, .footer__link:focus {
  transform: scale(1.1);
}
.footer__link.active::after {
  content: url("../img/arrow-mini.svg");
  position: absolute;
  display: block;
  transform: scale(0.5);
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  color: #6495ed;
}
.footer__link.active {
  font-weight: 700;
}
.footer__link:last-child {
  margin: 0;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer__content form {
  display: flex;
  flex-direction: column;
}
.footer__input {
  border: 2.5px solid #FFA500;
  padding: 7px 10px;
  border-radius: 30px;
  margin-bottom: 10px;
  width: 200px;
  font-size: 16px;
}
.footer__input:hover, .footer__input:active, .footer__input:focus {
  box-shadow: 0 0 10px #FFA500;
}
.footer__btn-submit {
  font-size: 20px;
  color: #E6E6FA;
  margin-top: 5px;
  background: #FFA500;
  width: 200px;
  height: 47px;
  border-radius: 30px;
}
.footer__btn-submit:hover, .footer__btn-submit:focus {
  box-shadow: 0 0 10px #FFA500;
}
.footer__btn-submit:active {
  transform: scale(0.9);
}
.footer__img1 {
  background: url("../img/Photo-51.webp") center -350px/100% auto no-repeat;
}
.footer__img2 {
  background: url("../img/Photo-52.webp") center -300px/100% auto no-repeat;
}
.footer__img3 {
  background: url("../img/Photo-61.webp") center -45px/100% auto no-repeat;
}
.footer__shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1176470588);
}
.footer__gallery {
  position: relative;
}
.footer__gallery-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__gallery-text h1 {
  text-shadow: 0 0 2px #FFA500;
  font-size: 40px;
}
.footer__gallery-text p {
  text-align: center;
  color: #6495ed;
  font-size: 27px;
  font-weight: 600;
}
.footer__gallery-text a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 18px;
  padding: 15px 0;
  color: #E6E6FA;
  background: #FFA500;
  width: 100%;
  border-radius: 30px;
}
.footer__gallery-text a:hover, .footer__gallery-text a:focus {
  box-shadow: rgb(255, 165, 0) 0px 0px 10px;
}
.footer__gallery-text a:active {
  transform: scale(0.9);
}
.footer__creators {
  position: relative;
  background: #00836a;
  padding: 20px 0;
}
.footer__creators-text {
  margin: 0 !important;
  line-height: 30px;
}
.footer__creators-text span {
  color: #6495ed;
  text-decoration: underline;
  cursor: pointer;
}
.footer__creators-text span:hover {
  text-shadow: 0 0 5px #6495ed;
}
.footer__creators-text br {
  display: none;
}

.bg-icons {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-icon {
  width: 100px;
  position: absolute;
}

.bg-icon-right {
  width: 100px;
  position: absolute;
  transform: rotate(20deg);
}

.bg-icon-left {
  width: 100px;
  position: absolute;
  transform: rotate(-20deg);
}

.title {
  font-size: 22px;
  color: #FFA500;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  color: #FFA500;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.paragraf {
  color: #505050;
  font-size: 20px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  line-height: 25px;
  text-align: center;
}

.alex, .artem {
  position: fixed;
  top: 100%;
  left: 50%;
  z-index: 4;
  transform: translateX(-50%);
  background: #F0EAD6;
  border-radius: 20px;
  padding: 20px;
}
.alex__container, .artem__container {
  display: flex;
  justify-content: space-between;
}
.alex__img, .artem__img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.alex__content, .artem__content {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.alex__links, .artem__links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.alex__links:last-child, .artem__links:last-child {
  margin-bottom: 0;
}
.alex__link, .artem__link {
  width: 50%;
  margin-right: 10px;
}
.alex__link span, .artem__link span {
  margin-top: 5px;
  white-space: nowrap;
  color: #6495ED;
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 8px 10px;
  border-radius: 20px;
  border: 2.5px solid #FFA500;
}
.alex__link span:hover, .alex__link span:focus, .artem__link span:hover, .artem__link span:focus {
  background: #FFA500;
  color: #E6E6FA;
}
.alex__link span:hover > svg path, .alex__link span:focus > svg path, .artem__link span:hover > svg path, .artem__link span:focus > svg path {
  fill: #E6E6FA;
}
.alex__link > svg:first-child, .artem__link > svg:first-child {
  margin-right: 5px;
}
.alex__link:active, .artem__link:active {
  transform: scale(0.9);
}
.alex__link:last-child, .artem__link:last-child {
  margin-right: 0;
}
.alex__link-top, .artem__link-top {
  display: flex;
}
.alex__socialnetlogo, .artem__socialnetlogo {
  width: 30px;
  height: 30px;
}
.alex__paragraf, .artem__paragraf {
  margin-left: 10px;
  font-size: 16px;
  color: #6495ED;
  margin-top: 5px;
}
.alex.active, .artem.active {
  top: 50%;
  transform: translate(-50%, -50%);
}

.image-text-container {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-text-container__block-image {
  height: 500px;
  width: 49%;
  border-radius: 40px;
}
.image-text-container__block-text {
  width: 49%;
  padding: 0 30px;
}
.image-text-container__paragraf {
  /* text-indent: 2.5em; */
  line-height: 25px;
}
.image-text-container__title {
  margin-bottom: 35px;
}

.uppercase {
  text-transform: uppercase;
  font-weight: 600;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #F8F1F1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__logo {
  width: 100px;
}
.loader.hide {
  top: 100%;
}

@media (max-width: 1100px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .contacts__close {
    display: none;
  }
  .header__links {
    display: none;
  }
  .header__menu-btn {
    display: flex;
  }
  .header__btn-contacts.active {
    display: none;
  }
  .bg-icon, .bg-icon-left, .bg-icon-right {
    width: 50px;
  }
  .paragraf {
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 0;
    line-height: 25px;
  }
  .footer__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__info > * {
    margin-bottom: 40px;
  }
  .footer__info > *:last-child {
    margin: 0;
  }
  .footer__logo {
    width: 150px;
    margin: 0 0 40px 0;
  }
  .footer__links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__contacts {
    width: 80%;
  }
  .footer__feedback {
    width: 80%;
  }
  .footer__content form {
    width: 100%;
  }
  .footer__content form > * {
    width: 100%;
  }
  .footer__gallery-text h1 {
    text-shadow: 0 0 2px #FFA500;
    font-size: 30px;
  }
  .footer__gallery-text p {
    text-align: center;
    color: #6495ed;
    font-size: 20px;
    font-weight: 600;
  }
  .footer__creators-text br {
    display: block;
  }
  .contacts__container {
    flex-direction: column;
  }
  .contacts__container > div {
    max-width: 100%;
  }
  .menu__container > * {
    white-space: nowrap;
  }
  .gallery-footer__btns > button {
    margin: 10px;
    transform: scale(0.6);
  }
  .image-text-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .image-text-container__block-image {
    height: 350px;
    width: 100%;
    border-radius: 40px;
  }
  .image-text-container__block-text {
    margin-top: 30px;
    width: 100%;
    padding: 0;
  }
  .image-text-container__paragraf {
    /* text-indent: 2em; */
  }
  .image-text-container__title {
    margin-bottom: 25px;
  }
  .image-text-container.reverce {
    flex-direction: column-reverse;
  }
}
@media (max-width: 1000px) {
  .footer__img1 {
    background: url("../img/Photo-51.webp") center 0/100% auto no-repeat;
  }
  .footer__img2 {
    background: url("../img/Photo-52.webp") center 0/100% auto no-repeat;
  }
  .footer__img3 {
    background: url("../img/Photo-61.webp") center 0/100% auto no-repeat;
  }
  .gallery-footer {
    height: 250px;
  }
}
@media (max-width: 767px) {
  .alex__container, .artem__container {
    flex-direction: column;
    align-items: center;
  }
  .alex__img, .artem__img {
    width: 150px;
    height: 150px;
  }
  .alex__content, .artem__content {
    margin-left: 0;
    margin-top: 20px;
  }
  .alex__links, .artem__links {
    flex-direction: column;
    margin-bottom: 0;
  }
  .alex__link, .artem__link {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .alex__link span, .artem__link span {
    margin-top: 5px;
    white-space: nowrap;
    color: #6495ED;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 8px 10px;
    border-radius: 20px;
    border: 2.5px solid #FFA500;
  }
  .alex__link span:hover, .alex__link span:focus, .artem__link span:hover, .artem__link span:focus {
    background: #FFA500;
    color: #E6E6FA;
  }
  .alex__link span:hover > svg path, .alex__link span:focus > svg path, .artem__link span:hover > svg path, .artem__link span:focus > svg path {
    fill: #E6E6FA;
  }
  .alex__link > svg:first-child, .artem__link > svg:first-child {
    margin-right: 5px;
  }
  .alex__link:active, .artem__link:active {
    transform: scale(0.9);
  }
  .alex__link:last-child, .artem__link:last-child {
    margin-right: 0;
  }
  .alex__link-top, .artem__link-top {
    display: flex;
  }
  .alex__socialnetlogo, .artem__socialnetlogo {
    width: 30px;
    height: 30px;
  }
  .alex__paragraf, .artem__paragraf {
    margin-left: 10px;
    font-size: 16px;
    color: #6495ED;
    margin-top: 5px;
  }
}