.gallery {
  margin-top: 85px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  & .movable{
    display: flex;
    height: 85vh;
    max-width: 100%;
    transition: transform 0.4s;
    & > div {
      flex:1;
      min-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & img {
      height: auto;
      max-height: 100%;
      border-radius: 25px;
      max-width: 100%;
    }
  }
  &__btns {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > button {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      margin: 50px;
      border: 4px solid #FFA500;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: #FFA500;
        & svg path {
          fill: #fff;
        }
      }
      &:active {
        box-shadow: 0 0 10px #FFA500;
      }
    }
  }
  & .prev svg {
      transform: rotate(180deg);
  }

  &__bg1 {
    top: 10%;
    right: 10%;
  }
  &__bg2 {
    bottom: 0;
    left: 5%;
  }
  &__bg3 {
    top: 20%;
    left: 12%;
    width: 70px;
  }
  &__bg4 {
    bottom: 20%;
    right: 12%;
    width: 70px;
  }

  &__true-false-info {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    background: #F8F1F1;
    padding: 10px;
    border-radius: 30px;
    &.true {
      border: 5px solid #FFA500;
    }
    &.false {
      border: 5px solid red;
    }
  }
  &__true-paragraf {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 600;
    color: #FFA500;
  }

  &__false-paragraf {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 600;
    color: red;
  }
}

.number {
  margin-top: 20px;

  &__container {
  }

  &__text {
    font-family: "Inter", sans-serif;
    text-align: right;
    font-size: 50px;
    color: #A9A9A9;
  }
}

.text {
  margin-top: 30px;

  &__container {}

  &__paragraf {
    font-size: 18px;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__bg1 {
    top: 30%;
    right: 2%;
  }
}

.window {
  margin-top: 50px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__slider {
    width: 100%;
  }

  &__photo-slider {
    position: relative;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
  
    & .movable{
      display: flex;
      height: 500px;
      max-width: 100%;
      transition: transform 0.4s;
      & > div {
        flex:1;
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      & img {
        height: auto;
        max-height: 100%;
        border-radius: 25px;
        max-width: 100%;
      }
    }
  }

  &__btns-slide {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > button {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      margin: 50px;
      border: 4px solid #FFA500;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: #FFA500;
        & svg path {
          fill: #fff;
        }
      }
      &:active {
        box-shadow: 0 0 10px #FFA500;
      }
    }
  }
  & .prev1 svg {
      transform: rotate(180deg);
  }

  &__text {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }

  &__bg1 {
    bottom: 10%;
    right: 5%;
  }
}


.location {
  margin-top: 50px;

  &__container {
    display: flex;
    justify-content: space-between;
    min-height: 500px;
  }

  &__text {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }

  &__grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
  }

  &__grid-element {
    display: flex;
    align-items: center;
    background: #ffa50050;
    border-radius: 40px;
  }

  &__grid-elem-img {
    width: 50px;
    height: 50px;
    margin: 0 15px;
  }

  &__grid-elem-rigth {
    margin-right: 15px;
    width: 100%;
  }

  &__grid-elem-subtitle {
    margin: 10px 0;
  }

  &__grid-elem-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  &__grid-elem-type-logo {
    margin-left: 5px;
    width: 30px;
    height: 30px;
  }

  &__grid-elem-paragraf {
    margin: 0;
    font-size: 22px;
    color: #000;
  }

  &__block-map {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & h3 {
      line-height: 23px;
    }
  }

  &__compas {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 70px;
    height: 70px;
    z-index: 1;
  }

  &__map {
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }

  &__bg1 {
    bottom: 5%;
    left: 45%;
    width: 50px;
  }
  &__bg2 {
    top: 20%;
    left: 2%;
    width: 70px;
  }
}

.furniture-plan {
  margin-top: 70px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 70%;
    height: auto;
  }

  &__bg1 {
    top: 10%;
    right: 10%;
  }
  &__bg2 {
    top: 50%;
    left: 5%;
  }
  &__bg3 {
    bottom: 10%;
    right: 10%;
  }
}

.info {
  margin-top: 70px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__text-block {
    position: relative;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__bti-plan {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__bti-plan-content {
    position: relative;
    
    & > svg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
      & rect, & path {
        fill: #ffffff00;
        fill-opacity: 0.6;
      }
      & g.hover rect, & g.hover path {
        fill: #9EFF00;
      }
    }
  }

  &__plan-image {
    width: 100%;
    height: auto;
    &.hide {
      display: none;
    }
  }

  & svg.bti-svg {
    & > g {
      cursor: pointer;
    }
    &.hide {
      display: none;
    }
  }

  &__z1-svg {
    & g:hover path {
      fill: #000;
    }
  }

  &__table {
    border: 2px solid #00836a;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
    & thead {
      & td {
        color: #fff;
      }
      & tr {
        background-color: #009879;
        font-size: 16px;
      }
    }
    & td {
      padding: 12px 15px;
      font-weight: 500;
      color: #000;
    }
    & tbody tr {
      cursor: pointer;
      position: relative;
      border-bottom: 1px solid #dddddd;
      font-size: 16px;

      &:last-of-type {
        border-bottom: 2px solid #009879;
      }
      &:nth-child(even) {
        background: #00836b24;
        & td {
          color: #00836a;
        }
      }
      &:hover, &.hover {
        background: #FFA500;
        & * {
          color: #fff;
        }
      }
    }
  }

  &__click-img {
    position: absolute;
    right: 5px;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    width: 40px;
  }

  &__bg1 {
    bottom: 20%;
    left: 5%;
    width: 70px;
  }

  &__bg2 {
    display: none;
    position: absolute;
    top: -20px;
    left: 0;
    width: 50px;
  }

  &__plans-slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    & button:active {
      transform: scale(0.9);
    }
    
    & button:hover, & button.active {
      background: #FFA500;
      color: #fff;
    }
  }

  &__left-element {
    padding: 10px 15px;
    border: 2px solid #FFA500;
    color: #FFA500;
    border-radius: 25px;
    margin-bottom: 0;
  }

  &__right-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__right-element {
    padding: 5px 10px;
    border: 2px solid #FFA500;
    color: #FFA500;
    border-radius: 25px;
    margin-bottom: 5px;
  }
}

.round {
  margin: 50px 0;

  &__container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    & > svg {
      position: absolute;
      z-index: 1;
      max-height: 100%;
      & .apartment * {
        fill: #ffffff00;
        cursor: pointer;
        transition: all 0.1s ease;
      }
      & .apartment:hover * {
        fill: #9EFF00;
      }

      & .apartment.this * {
        fill: #9EFF00;
        fill-opacity: 0.9;
      }
      & .apartment.sold * {
        fill: #f00;
      }
      & line {
        stroke: #9EFF00;
        stroke-width: 7;
      }
    }
  }

  &__img {
    width: 100%;
  }
  &__img-90 {
    display: none;
    width: 240%;
  }

  &__apartment-info {
    display: none;
    position: absolute;
    top: 20%;
    right: 30%;
    z-index: 1;
    border: 3px solid #FFA500;
    border-radius: 25px;
    background: #F8F1F1;
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }

  &__title {}

  &__apartment-info-true {
    margin-bottom: 5px;
    color: #FFA500;
  }

  &__apartment-info-false {
    margin-bottom: 5px;
    color: red;
  }

  &__place {
    margin-bottom: 5px;
  }
}
.round-bti__foreground-svg {
  width: 100%;
}
.round-bti__foreground-svg-90 {
  display: none;
  width: 240%;
  height: 100%;
  & > g {
    transform: translate(100%, 0) rotate(90deg);
  }
}

#roundContent {
  display: flex;
  justify-content: start;
  overflow: auto;
}

@media (max-width: 1100px) {
  .gallery {
    & .movable {
      width: 100%;
      height: auto;
      max-height: 85vh;
    }
    &__btns > button {
      margin: 10px;
      transform: scale(0.6);
    }
    
    &__bg1 {
      top: 5%;
      right: 5%;
    }
    &__bg2 {
      bottom: 0;
      left: 5%;
    }
    &__bg3 {
      display: none;
    }
    &__bg4 {
      display: none;
    }
  }
  .number__text {
    font-size: 40px;
  }
  .text {
    &__bg1 {
      top: 0;
    }
  }
  .info {
    margin-top: 40px;
    &__container {
      flex-direction: column;
      align-items: center;
    }
    &__bti-plan {
      width: 90%;
    }
    &__table {
      min-width: 20px;
      width: 100%;
    }
    &__text-block {
      width: 90%;
    }

    &__bg1 {
      display: none;
    }
    &__bg2 {
      display: block;
    }
  }
  .furniture-plan {
    &__image {
      width: 90%;
    }

    &__bg1 {
      top: 0;
      left: 5%;
    }
    &__bg2 {
      display: none;
    }
    &__bg3 {
      bottom: 0;
      right: 5%;
    }
  }
  .window {
    &__container {
      flex-direction: column;
    }
    &__slider {
      width: 100%;
    }
    &__text {
      width: 100%;
      margin-top: 20px;
    }
    &__btns-slide > button {
      margin: 10px;
      transform: scale(0.6);
    }
  }
  .location {
    &__container {
      flex-direction: column-reverse;
      height: auto;
    }
    &__block-slider {
      width: 100%;
      margin-bottom: 30px;
    }
    &__text {
      margin-top: 35px;
      width: 100%;
    }
    &__photo-slider .movable {
      height: 400px;
    }
    &__block-map {
      width: 100%;
    }
    &__map {
      height: 400px;
    }

    &__bg1{
      display: none;
    }
    &__bg2 {
      top: 445px;
      left: 87%;
      width: 50px;
    }
  }
  .round {
    &__container {
      justify-content: start;
      overflow: auto;
      padding: 0 20px;
    }
  }
}

@media (max-width:700px) {
  .location {
    &__grid-element {
      border-radius: 35px;
    }
    &__grid-elem-img {
      width: 35px;
      height: 35px;
      margin: 0 5px 0 10px;
    }
    &__grid-elem-rigth {
      margin-right: 10px;
    }
    &__grid-elem-type-logo {
      width: 25px;
      height: 25px;
      margin-left: 3px;
    }
    &__grid-elem-paragraf {
      font-size: 20px;
    }
  }
}

@media (max-width:600px) {
  .round {
    &__img {
      display: none;
    }
    &__img-90 {
      display: block;
    }
  }

  .round-bti__foreground-svg {
    display: none;
  }
  .round-bti__foreground-svg-90 {
    display: block;
    width: 240%;
    & > g {
      transform: translate(100%, 0) rotate(90deg);
    }
  }
  .window__photo-slider .movable {
    height: 250px;
  }
}

@media (min-width:600px) {
  .round__apartment-info.active {display: flex;}
}