.header {
  background: none;
}

.choose-round {
  position: relative;
  height: 100%;
  width: 100%;
  background: url('https://sashahjggggv.github.io/photos-great-house/rounds/building.jpg') center/auto 100% no-repeat;

  &__paths {
    height: 83.5%;
    position: absolute;
    top: 3%;
    left: 53.5%;
    z-index: 1;
    transform: translateX(-50%);
  }
  &__path-round {
    cursor: pointer;
    &:hover {
      fill: #9EFF00;
    }
  }
}

.round-bti {
  margin: 100px 0;

  &__container {
    padding: 0;
    margin: 0 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__bg-image {
    width: 100%;
  }

  &__container > svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 100%;
    & g.apartment:hover path, & g.apartment:hover rect {
      fill: #fff;
      cursor: pointer;
    }
    /* & > g {
      transform: translate(100%, 0) rotate(90deg);
    } */
  }
}

