.header {
  background: none;
}

.choose-round {
  position: relative;
  height: 100%;
  width: 100%;
  /* max-width: 100%; */
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* background: url('https://sashahjggggv.github.io/photos-great-house/rounds/building.jpg') center/auto 100% no-repeat; */

  &__bg-img {
    height: 100%;
    width: auto;
  }

  &__paths {
    height: 83.7%;
    position: absolute;
    top: 3.65%;
    left: 53%;
    transform: translateX(-50%);
    /* left: 13.3%; */
  }
  &__path-round:hover {
    fill: #9EFF00;
    cursor: pointer;
  }
}

.round-bti {
  display: none;
  margin: 100px 0;

  &__container {
    padding: 0;
    margin: 0 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__bg-image {
    width: 100%;
  }

  &__container > svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 100%;
    & g.apartment:hover path, & g.apartment:hover rect {
      fill: #fff;
      cursor: pointer;
    }
    /* & > g {
      transform: translate(100%, 0) rotate(90deg);
    } */
  }
  &.active {
    display: block;
  }
}

@media (max-width: 1100px) {
  .round-bti {
    margin: 50px 0;
    &__container {
      margin: 0;
      padding: 0 20px;
      overflow: auto;
      display: flex;
      justify-content: start;
    }
    &__bg-image {
      width: 300%;

    }
    &__foreground-svg {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .choose-round {
    background: url("https://sashahjggggv.github.io/photos-great-house/rounds/building.jpg") -450px 0/auto 100% no-repeat;
  }
}