.header {
  background: none;
}

.choose-round {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;

  &__bg-img {
    height: 100%;
    width: auto;
  }

  &__round-block {
    display: none;
    position: absolute;
    top: 20%;
    right: 10%;
    z-index: 1;
    border: 2px solid #9EFF00;
    border-radius: 25px;
    background: #F8F1F1;
    padding: 15px;
    &.active {
      display: block;
    }
  }

  &__round-block-num {
    margin-bottom: 10px;
  }

  &__round-block-true {
    margin-bottom: 5px;
    color: #FFA500;
  }

  &__round-block-false {
    margin-bottom: 5px;
    color: red;
  }

  &__paths {
    height: 83.7%;
    position: absolute;
    top: 3.65%;
    left: 53%;
    transform: translateX(-50%);
  }
  &__path-round {
    &:hover {
      fill: #9EFF00;
      cursor: pointer;
    }
    &.sold:hover {
      fill: #ff3300;
      cursor: pointer;
    }
  }

  &__hint {
    background: #F8F1F1;
    border: 5px solid #FFA500;
    color: #FFA500;
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 40px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap
  }
}

.round-bti {
  display: none;
  padding: 100px 0;
  position: relative;

  &__bg-element1 {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    width: 400px;
  }
  &__bg-element2 {
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 1;
    width: 100%;
    transform: rotate(1deg);
  }

  &__container {
    padding: 0;
    margin: 0 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__bg-image {
    width: 100%;
  }
  &__bg-image-90 {
    display: none;
    width: 240%;
  }

  &__round-block {
    display: none;
    border: 2px solid #FFA500;
    border-radius: 25px;
    background: #F8F1F1;
    padding: 15px;
    width: 80%;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-bottom: 20px;
  }

  &__round-block-num {
    margin-bottom: 10px;
  }

  &__round-block-true {
    margin-bottom: 5px;
    color: #FFA500;
  }

  &__round-block-false {
    margin-bottom: 5px;
    color: red;
  }

  &__container > svg {
    position: absolute;
    z-index: 1;
    & .apartment * {
      fill: #ffffff00;
    }
    & .apartment.sold * {
      fill: #f00;
    }
    & g.apartment:hover path, & g.apartment:hover rect {
      fill: #9EFF00;
      cursor: pointer;
    }
    & g.apartment.sold:hover path, & g.apartment.sold:hover rect {
      fill: #f00;
      fill-opacity: 0.8;
      cursor: pointer;
    }
  }
  &__foreground-svg {
    width: 100%;
    max-height: 100%;
  }
  &__foreground-svg-90 {
    display: none;
    height: 100%;
    & > g {
      transform: translate(100%, 0) rotate(90deg);
    }
  }
  &.active {
    display: block;
  }

  &__apartment-info {
    display: none;
    position: absolute;
    top: 20%;
    right: 30%;
    z-index: 1;
    border: 3px solid #FFA500;
    border-radius: 25px;
    background: #F8F1F1;
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }

  &__title {}

  &__apartment-info-true {
    margin-bottom: 5px;
    color: #FFA500;
  }

  &__apartment-info-false {
    margin-bottom: 5px;
    color: red;
  }

  &__place {
    margin-bottom: 5px;
  }
}

@media (max-width: 1100px) {
  .choose-round__paths {
    left: 57%;
  }
}

@media (max-width: 600px) {
  .choose-round {
    &__paths {
      left: 62%;
    }

    &__round-block.active {
      display: none;
    }
  }
  .round-bti {
    padding: 50px 0;
    overflow: auto;
    &__container {
      margin: 0 50px;
      justify-content: start;
    }
    &__round-block.active {display: block;}
    &__bg-image {
      display: none;
    }
    &__bg-image-90 {
      display: block;
    }
    &__foreground-svg {
      display: none;
    }
    &__foreground-svg-90 {
      display: block;
    }
  }
}
@media (min-width:600px) {
  .round-bti__apartment-info.active {display: flex;}
}