@import "_nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
  transition: all 0.2s ease; 
  box-sizing: border-box;
  
  background-color: #F8F1F1;

  font-family: 'Open Sans', sans-serif;
  & * {
    transition: all 0.2s ease; 
    box-sizing: border-box;
  }
}

section {
  position: relative;
}

.container {
  padding-left: 100px;
  padding-right: 100px;
}

.header {
  /* background: #F8F1F1; */
  position: fixed;
  top: -100px;
  left: 0;
  z-index: 4;
  width: 100%;

  &.sticky {
    top: 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
  }

  &__logo {
    width: 90px;
    &:hover, :focus {
      transform: scale(1.1);
    }
  }

  &__links {
    display: flex;
  }

  &__link {
    position: relative;
    color: #FFA500;
    font-weight: 500;
    font-size: 18px;
    margin-left: 30px;
    cursor: pointer;
    user-select: none;
    &:hover, &:focus {
      transform: scale(1.1);
    }
    &.active::after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background: #FFA500;
    }
    &:first-child {
      margin: 0;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
  }

  &__btn-contacts {
    position: relative;
    background: #fff;
    font-size: 18px;
    font-weight: 600;
    color: #FFA500;
    border: 3px solid #FFA500;
    box-shadow: 0 0 10px #FFA500;
    border-radius: 22.5px;
    padding: 8px 15px;
    user-select: none;
    &:hover, &.active {
      background: #FFA500;
      color: #fff;
    }
    &:active {
      transform: scale(0.9);
    }
  }

  &__btn-contacts-z-block {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 22.5px;
    &.active {
      display: block;
    }
  }

  &__menu-btn {
    display: none;
    position: relative;
    border: 3px solid #FFA500;
    box-shadow: 0 0 10px #FFA500;
    border-radius: 50%;
    background: #fff;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    &.active {
      border: 3px solid red;
      box-shadow: 0 0 10px red;
      & .icon {
        & span:nth-child(2) {
          opacity: 0;
        }
        & span:first-child,
        & span:last-child {
          top: 8px;
          background-color: red;
        }
        & span:first-child {
          transform: rotate(45deg);
        }
        & span:last-child {
          transform: rotate(-45deg);
        }
      }
    }
    & .icon {
      width: 23px;
      height: 16px;
      cursor: pointer;
      position: relative;
      & span {
        background: #FFA500;
        height: 3px;
        position: absolute;
        width: 100%;
        left: 0;
        transition: all 0.3s ease;
        border-radius: 10px;
        &:first-child {
          top: 0;
        }
        &:nth-child(2) {
          top: 8px;
        }
        &:last-child {
          top: 16px;
        }
      }
    }
  }

  &__menu-btn-close {
    display: none;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50%;
    &.active {
      display: block;
    }
  }
  &__menu-btn-open {
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50%;
    &.active {
      display: none;
    }
  }
}

.contacts {
  position: fixed;
  bottom: 150%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, 50%);
  background: #F0EAD6;
  box-shadow: 0 0 6px 3px #F0EAD6;
  border-radius: 30px;
  padding: 30px 50px;
  visibility: hidden;
  &.active {
    bottom: 50%;
    visibility: visible;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    & > div {
      max-width: 50%;
    }
  }

  &__contacts {}

  &__content {}

  &__block-phone {
    margin-bottom: 10px;
  }

  &__feedback {}

  &__input {
    border: 2.5px solid #FFA500;
    padding: 9.5px 12px;
    border-radius: 30px;
    margin: 5px 0;
    font-size: 16px;
    width: 100%;
    &:hover, &:active, &:focus {
      box-shadow: 0 0 10px #FFA500;
    }
  }

  &__btn-submit {
    font-size: 20px;
    color: #E6E6FA;
    margin-top: 5px;
    background: #FFA500;
    width: 100%;
    height: 47px;
    border-radius: 30px;
    &:hover, &:focus {
      box-shadow: 0 0 10px #FFA500;
    }
    &:active {
      transform: scale(0.9);
    }
  }

  &__operator-name {
    display: flex;
    align-items: center;
    color: #FFA500;
    font-size: 18px;
    margin-bottom: 5px;
    &_email::after {
      content: url(../img/email.png);
      margin-left: 5px;
    }
  }

  &__link {
    color: #6495ED;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 20px;
    border: 2.5px solid #FFA500;
    &:hover, &:focus {
      background: #FFA500;
      color: #E6E6FA;
      & > svg path {
        fill: #E6E6FA;
      }
    }
    & > svg:first-child {
      margin-right: 5px;
    }
    &:active {
      transform: scale(0.9);
    }
  }
  
  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    &:hover, &:focus {
      transform: scale(1.1);
    }
  }
}

.menu {
  position: fixed;
  top: 50%;
  left: 110%;
  z-index: 4;
  transform: translateY(-50%);
  background: #F0EAD6;
  box-shadow: 0 0 6px 3px #F0EAD6;
  border-radius: 30px;
  padding: 30px 50px;
  /* visibility: hidden; */

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    position: relative;
    color: #FFA500;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
    &:hover, &:focus {
      transform: scale(1.1);
    }
    &.active {
      transform: scale(1.1);
      font-weight: 700;
    }
    &:last-child {
      margin: 0;
    }
  }

  &.active {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.contacts-bg-shadow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: none;
  &.active {
    display: block;
  }
}


.gallery-footer {
  overflow: hidden;
  position: relative;
  height: 300px;
  & .movable{
    display: flex;
    height: 85vh;
    max-width: 100%;
    transition: transform 0.4s;
    & > div {
      flex:1;
      min-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & img {
      height: auto;
      width: 100%;
      max-height: 100%;
      max-width: 100%;
      /* width: calc(100% / 6); */
    }
  }
  &__btns {
    position: absolute;
    z-index: 2;
    bottom: 50%;
    transform: translateY(50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > button {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      margin: 50px;
      border: 4px solid #FFA500;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: #FFA500;
        & svg path {
          fill: #fff;
        }
      }
      &:active {
        box-shadow: 0 0 10px #FFA500;
      }
    }
  }
  & .prev3 svg, & .prev1 svg, & .prev2 svg, & .prev svg {
      transform: rotate(180deg);
  }
}

.footer {

  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #dfdac6;
  }

  &__info {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  &__logo {
    margin-right: 60px;
    width: 130px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__link {
    position: relative;
    color: #6495ed;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
    &:hover, &:focus {
      transform: scale(1.1);
    }
    &.active::after {
      content: url("../img/arrow-mini.svg");
      position: absolute;
      display: block;
      transform: scale(0.5);
      left: -30px;
      top: 50%;
      transform: translateY(-50%);
      color: #6495ed;
    }
    &.active {
      font-weight: 700;
    }
    &:last-child {
      margin: 0;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__feedback {}

  &__content form {
    display: flex;
    flex-direction: column;

  }

  &__input {
    border: 2.5px solid #FFA500;
    padding: 7px 10px;
    border-radius: 30px;
    margin-bottom: 10px;
    width: 200px;
    font-size: 16px;
    &:hover, &:active, &:focus {
      box-shadow: 0 0 10px #FFA500;
    }
  }

  &__btn-submit {
    font-size: 20px;
    color: #E6E6FA;
    margin-top: 5px;
    background: #FFA500;
    width: 200px;
    height: 47px;
    border-radius: 30px;
    &:hover, &:focus {
      box-shadow: 0 0 10px #FFA500;
    }
    &:active {
      transform: scale(0.9);
    }
  }

  &__img1 {
    background: url('../img/Photo-51.webp') center -350px / 100% auto no-repeat;
  }
  &__img2 {
    background: url('../img/Photo-52.webp') center -300px / 100% auto no-repeat;
  }
  &__img3 {
    background: url('../img/Photo-61.webp') center -45px / 100% auto no-repeat;
  }
  &__shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #0000001e;
  }
  &__gallery {
    position: relative;
  }
  &__gallery-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1 {
      text-shadow: 0 0 2px #FFA500;
      font-size: 40px;
    }
    & p {
      text-align: center;
      color: #6495ed;
      font-size: 27px;
      font-weight: 600;
    }
    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      font-size: 18px;
      padding: 15px 0;
      color: #E6E6FA;
      background: #FFA500;
      width: 100%;
      border-radius: 30px;
      &:hover, &:focus {
        box-shadow: rgb(255, 165, 0) 0px 0px 10px;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }

  &__creators {
    position: relative;
    background: #00836a;
    padding: 20px 0;
  }

  &__creators-text {
    margin: 0 !important;
    line-height: 30px;
    & span {
      color: #6495ed;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        text-shadow: 0 0 5px #6495ed;
      }
    }
    & br {
      display: none;
    }
  }
}

.bg-icons {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.bg-icon {
  width: 100px;
  position: absolute;
}
.bg-icon-right {
  width: 100px;
  position: absolute;
  transform: rotate(20deg);
}
.bg-icon-left {
  width: 100px;
  position: absolute;
  transform: rotate(-20deg);
}

.title {
  font-size: 22px;
  color: #FFA500;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}
.subtitle {
  font-size: 18px;
  color: #FFA500;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}
.paragraf {
  color: #505050;
  font-size: 20px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  line-height: 25px;
  text-align: center;
}

.alex,.artem {
  position: fixed;
  top: 100%;
  left: 50%;
  z-index: 4;
  transform: translateX(-50%);
  background: #F0EAD6;
  border-radius: 20px;
  padding: 20px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
  }

  &__content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__title {}

  &__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    width: 50%;
    margin-right: 10px;
    & span {
      margin-top: 5px;
      white-space: nowrap;
      color: #6495ED;
      font-size: 18px;
      display: flex;
      justify-content: center;
      padding: 8px 10px;
      border-radius: 20px;
      border: 2.5px solid #FFA500;
      &:hover, &:focus {
        background: #FFA500;
        color: #E6E6FA;
        & > svg path {
          fill: #E6E6FA;
        }
      }
    }
    & > svg:first-child {
      margin-right: 5px;
    }
    &:active {
      transform: scale(0.9);
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__link-top {
    display: flex;
  }

  &__socialnetlogo {
    width: 30px;
    height: 30px;
  }

  &__paragraf {
    margin-left: 10px;
    font-size: 16px;
    color: #6495ED;
    margin-top: 5px;
  }
  &.active {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.image-text-container {
  margin-top: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__block-image {
    height: 500px;
    width: 49%;
    border-radius: 40px;
  }

  &__block-text {
    width: 49%;
    padding: 0 30px;
  }

  &__paragraf {
    /* text-indent: 2.5em; */
    line-height: 25px;
  }

  &__title {
    margin-bottom: 35px;
  }
}

.uppercase {
  text-transform: uppercase;
  font-weight: 600;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #F8F1F1;
  display: flex;
  align-items: center;
  justify-content: center;

  &__logo {
    width: 100px;
  }
  &.hide {
    top: 100%;
  }
}


@media (max-width: 1100px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .contacts__close {
    display: none;
  }
  .header {
    &__links {
      display: none;
    }
    &__menu-btn {
      display: flex;
    }
    &__btn-contacts.active {
      display: none;
    }
  }
  .bg-icon,.bg-icon-left,.bg-icon-right {
    width: 50px;
  }

  .paragraf {
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 0;
    line-height: 25px;
  }
  .footer {

    &__container {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__info > * {
      margin-bottom: 40px;
      &:last-child {
        margin: 0;
      }
    }
    &__logo {
      width: 150px;
      margin: 0 0 40px 0;
    }
    &__links {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__contacts {
      width: 80%;
    }
    &__feedback {
      width: 80%;
    }
    &__content {
      & form {
        width: 100%;
        & > * {
          width: 100%;
        }
      }
    }
    &__gallery-text {
      & h1 {
        text-shadow: 0 0 2px  #FFA500;
        font-size: 30px;
      }
      & p {
        text-align: center;
        color: #6495ed;
        font-size: 20px;
        font-weight: 600;
      }
    }
    &__creators-text br {
      display: block;
    }
  }
  .contacts {
    &__container {
      flex-direction: column;
      & > div {
        max-width: 100%;
      }
    }
  }
  .menu__container > * {
    white-space: nowrap;
  }
  .gallery-footer__btns > button {
    margin: 10px;
    transform: scale(0.6);
  }

  .image-text-container {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__block-image {
      height: 350px;
      width: 100%;
      border-radius: 40px;
    }

    &__block-text {
      margin-top: 30px;
      width: 100%;
      padding: 0;
    }

    &__paragraf {
      /* text-indent: 2em; */
    }

    &__title {
      margin-bottom: 25px;
    }
    &.reverce {
      flex-direction: column-reverse;
    }
  }
}
@media (max-width: 1000px) {
  .footer {
    &__img1 {
      background: url('../img/Photo-51.webp') center 0 / 100% auto no-repeat;
    }
    &__img2 {
      background: url('../img/Photo-52.webp') center 0 / 100% auto no-repeat;
    }
    &__img3 {
      background: url('../img/Photo-61.webp') center 0 / 100% auto no-repeat;
    }
  }
  .gallery-footer {
    height: 250px;
  }
}

@media (max-width: 767px) {
  .alex,.artem {

    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__img {
      width: 150px;
      height: 150px;
    }

    &__content {
      margin-left: 0;
      margin-top: 20px;
    }

    &__title {}

    &__links {
      flex-direction: column;
      margin-bottom: 0;
    }

    &__link {
      width: 100%;
      margin-right: 10px;
      margin-bottom: 10px;
      & span {
        margin-top: 5px;
        white-space: nowrap;
        color: #6495ED;
        font-size: 18px;
        display: flex;
        justify-content: center;
        padding: 8px 10px;
        border-radius: 20px;
        border: 2.5px solid #FFA500;
        &:hover, &:focus {
          background: #FFA500;
          color: #E6E6FA;
          & > svg path {
            fill: #E6E6FA;
          }
        }
      }
      & > svg:first-child {
        margin-right: 5px;
      }
      &:active {
        transform: scale(0.9);
      }
      &:last-child {
        margin-right: 0;
      }
    }

    &__link-top {
      display: flex;
    }

    &__socialnetlogo {
      width: 30px;
      height: 30px;
    }

    &__paragraf {
      margin-left: 10px;
      font-size: 16px;
      color: #6495ED;
      margin-top: 5px;
    }
  }
}