.building {
  margin-top: 70px;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 0 100px;
    & .child {
      width: 100%;
      height: 100%;
      border-radius: 40px;
      background: url('../img/images-building/building-text.webp') center/cover no-repeat;
    }
  }

  & .blur {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 40px;
    backdrop-filter: blur(4px);
  }

  &__container {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 130px;
    padding-right: 130px;
  }

  &__block-text {
    width: 40%;
    position: relative;
    z-index: 1;
    border-radius: 40px;
  }

  &__title {
    font-size: 28px;
  }

  &__paragraf {
    /* text-indent: 2em; */
    color: #F8F1F1;
    font-weight: 600;
  }
}

.slider {
  overflow: hidden;
  position: relative;
  
  &__img-building-ready {
    position: absolute;
    top: 120px;
    right: 50px;
    z-index: 2;
    width: 250px;
  }

  & .movable{
    display: flex;
    height: 100vh;
    max-width: 100%;
    transition: transform 0.4s;
    & > div {
      flex:1;
      min-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & img {
      height: auto;
      max-height: 100%;
      max-width: 100%;
    }
  }
  &__btns {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > * {
      cursor: pointer;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      margin: 50px;
      border: 4px solid #FFA500;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: #FFA500;
        & svg path {
          fill: #fff;
        }
      }
      &:active {
        box-shadow: 0 0 10px #FFA500;
      }
    }
  }
  & .prev svg {
    transform: rotate(180deg);
  }

  &__gallery-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1 {
      text-shadow: 0 0 2px #FFA500;
      font-size: 40px;
    }
    & p {
      text-align: center;
      color: #6495ed;
      font-size: 30px;
      font-weight: 600;
      white-space: pre;
    }
    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      font-size: 22px;
      padding: 15px 0;
      color: #FFA500;
      font-weight: 600;
      border: 5px solid #FFA500;
      width: 100%;
      border-radius: 30px;
      &:hover, &:focus {
        box-shadow: rgb(255, 165, 0) 0px 0px 10px;
        background: #FFA500;
        color: #fff;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}

.location {
  margin-top: 50px;

  &__container {
    display: flex;
    justify-content: space-between;
    min-height: 500px;
  }

  &__text {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
  }

  &__grid-element {
    display: flex;
    align-items: center;
    background: #ffa50050;
    border-radius: 40px;
  }

  &__grid-elem-img {
    width: 50px;
    height: 50px;
    margin: 0 15px;
  }

  &__grid-elem-rigth {
    margin-right: 15px;
    width: 100%;
  }

  &__grid-elem-subtitle {
    margin: 10px 0;
  }

  &__grid-elem-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  &__grid-elem-type-logo {
    margin-left: 5px;
    width: 30px;
    height: 30px;
  }

  &__grid-elem-paragraf {
    margin: 0;
    font-size: 22px;
    color: #000;
  }

  &__block-map {
    position: relative;
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & h3 {
      line-height: 32px;
    }
  }

  &__compas {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 70px;
    height: 70px;
    z-index: 1;
  }

  &__map {
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }

  &__bg1 {
    bottom: 5%;
    left: 45%;
    width: 50px;
  }
  &__bg2 {
    top: 20%;
    left: 2%;
    width: 70px;
  }
}

.footer {
  margin-top: 50px;
}

@media (max-width:1100px) {
  .slider {
    &__img-building-ready {
      position: absolute;
      top: 80%;
      right: 10px;
      z-index: 2;
      width: 170px;
    }

    &__gallery-text {
      & h1 {
        text-shadow: 0 0 2px #FFA500;
        font-size: 30px;
      }
      & p {
        text-align: center;
        color: #6495ed;
        font-size: 20px;
        font-weight: 500;
      }
      & a {
        font-size: 18px;
        border: 3px solid #FFA500;
      }
    }
    &__btns > * {
      margin: 10px;
      transform: scale(0.6);
    }
  }

  .location {
    &__container {
      flex-direction: column-reverse;
      height: auto;
    }
    &__block-slider {
      width: 100%;
      margin-bottom: 30px;
    }
    &__text {
      margin-top: 35px;
      width: 100%;
    }
    &__photo-slider .movable {
      height: 400px;
    }
    &__block-map {
      width: 100%;
    }
    &__map {
      height: 400px;
    }

    &__bg1{
      display: none;
    }
    &__bg2 {
      top: 445px;
      left: 87%;
      width: 50px;
    }
  }

  .building {
    margin-top: 50px;

    &__bg {
      padding: 0;
    }
  
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: relative;
      padding-top: 70px;
      /* padding-bottom: 40px; */
      padding-left: 20px;
      padding-right: 20px;
    }
  
    &__block-text {
      width: 100%;
      position: relative;
      z-index: 1;
      border-radius: 40px;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    &__title {}
  
    &__paragraf {
      /* text-indent: 2em; */
      color: #F8F1F1;
    }
  }  
}

@media (max-width:700px) {
  .location {
    &__grid-element {
      border-radius: 35px;
    }
    &__grid-elem-img {
      width: 35px;
      height: 35px;
      margin: 0 5px 0 10px;
    }
    &__grid-elem-rigth {
      margin-right: 10px;
    }
    &__grid-elem-type-logo {
      width: 25px;
      height: 25px;
      margin-left: 3px;
    }
    &__grid-elem-paragraf {
      font-size: 20px;
    }
  }
}