@import "_nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@font-face {
  font-family: "Marisa";
  src: url("../fonts/Marisa/Marisa.otf");
  src: url("../fonts/Marisa/MarisaRegular.woff") format("woff"),
  url("../fonts/Marisa/MarisaRegular.woff2") format("woff2"),
  url("../fonts/Marisa/MarisaRegular.ttf") format("ttf");
  }

body {
  background: #F8F1F1;
  font-family: 'Open Sans', sans-serif;
  & * {
    transition: all 0.2s ease; 
    box-sizing: border-box;
  }
}

.container {
  padding-left: 100px;
  padding-right: 100px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
  }

  &__logo:hover, :focus {
    transform: scale(1.1);
  }

  &__links {
    display: flex;
  }

  &__link {
    position: relative;
    color: #FFA500;
    font-weight: 500;
    font-size: 18px;
    margin-left: 30px;
    cursor: pointer;
    user-select: none;
    &:hover, &:focus {
      transform: scale(1.1);
    }
    &.active::after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background: #FFA500;
    }
    &:first-child {
      margin: 0;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
  }

  &__btn-contacts {
    background: #fff;
    font-size: 18px;
    font-weight: 600;
    color: #FFA500;
    border: 3px solid #FFA500;
    box-shadow: 0 0 10px #FFA500;
    border-radius: 22.5px;
    padding: 8px 15px;
    user-select: none;
    &:hover {
      background: #FFA500;
      color: #fff;
    }
    &.active {
      display: none;
    }
    &:active {
      transform: scale(0.9);
    }
  }

  &__menu-btn {
    display: none;
    position: relative;
    border: 3px solid #FFA500;
    box-shadow: 0 0 10px #FFA500;
    border-radius: 50%;
    background: #fff;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    &.active {
      border: 3px solid red;
      box-shadow: 0 0 10px red;
      & .icon {
        & span:nth-child(2) {
          opacity: 0;
        }
        & span:first-child,
        & span:last-child {
          top: 8px;
          background-color: red;
        }
        & span:first-child {
          transform: rotate(45deg);
        }
        & span:last-child {
          transform: rotate(-45deg);
        }
      }
    }
    & .icon {
      width: 23px;
      height: 16px;
      cursor: pointer;
      position: relative;
      & span {
        background: #FFA500;
        height: 3px;
        position: absolute;
        width: 100%;
        left: 0;
        transition: all 0.3s ease;
        border-radius: 10px;
        &:first-child {
          top: 0;
        }
        &:nth-child(2) {
          top: 8px;
        }
        &:last-child {
          top: 16px;
        }
      }
    }
  }

  &__menu-btn-close {
    display: none;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50%;
    &.active {
      display: block;
    }
  }
  &__menu-btn-open {
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50%;
    &.active {
      display: none;
    }
  }
}

.contacts {
  position: fixed;
  bottom: 150%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, 50%);
  background: #F0EAD6;
  box-shadow: 0 0 6px 3px #F0EAD6;
  border-radius: 30px;
  padding: 30px 50px;
  visibility: hidden;
  &.active {
    bottom: 50%;
    visibility: visible;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    & > div {
      max-width: 50%;
    }
  }

  &__contacts {}

  &__title {
    font-size: 18px;
    color: #FFA500;
    margin-bottom: 20px;
  }

  &__content {}

  &__block-phone {
    margin-bottom: 10px;
  }

  &__feedback {}

  &__input {
    border: 2.5px solid #FFA500;
    padding: 9.5px 12px;
    border-radius: 30px;
    margin: 5px 0;
    font-size: 16px;
    width: 100%;
    &:hover, &:active, &:focus {
      box-shadow: 0 0 10px #FFA500;
    }
  }

  &__btn-submit {
    font-size: 20px;
    color: #E6E6FA;
    margin-top: 5px;
    background: #FFA500;
    width: 100%;
    height: 47px;
    border-radius: 30px;
    &:hover, &:focus {
      box-shadow: 0 0 10px #FFA500;
    }
    &:active {
      transform: scale(0.9);
    }
  }

  &__operator-name {
    display: flex;
    align-items: center;
    color: #FFA500;
    font-size: 18px;
    margin-bottom: 5px;
    &_email::after {
      content: url(../img/email.png);
      margin-left: 5px;
    }
  }

  &__link {
    color: #6495ED;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 20px;
    border: 2.5px solid #FFA500;
    &:hover, &:focus {
      background: #FFA500;
      color: #E6E6FA;
      & > svg path {
        fill: #E6E6FA;
      }
    }
    & > svg:first-child {
      margin-right: 5px;
    }
    &:active {
      transform: scale(0.9);
    }
  }
  
  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    &:hover, &:focus {
      transform: scale(1.1);
    }
  }
}

.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  left: 100%;
  z-index: 3;
  transform: translateY(-50%);
  background: #F0EAD6;
  box-shadow: 0 0 6px 3px #F0EAD6;
  border-radius: 30px;
  padding: 30px 50px;
  /* visibility: hidden; */

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    position: relative;
    color: #FFA500;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
    &:hover, &:focus {
      transform: scale(1.1);
    }
    &.active {
      transform: scale(1.1);
      font-weight: 700;
    }
    &:last-child {
      margin: 0;
    }
  }

  &.active {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.contacts-bg-shadow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: none;
  &.active {
    display: block;
  }
}

.gallery {
  padding-top: 85px;
  overflow: hidden;
  position: relative;
  & .movable{
    display: flex;
    height: 85vh;
    max-width: 100%;
    transition: transform 0.4s;
    & > div {
      flex:1;
      min-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & img {
      height: auto;
      max-height: 100%;
      border-radius: 25px;
      max-width: 100%;
    }
  }
  &__btns {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    width: 100%;
    padding-top: 85px;
    display: flex;
    justify-content: space-between;
    & > button {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      margin: 50px;
      border: 4px solid #FFA500;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: #FFA500;
        & svg path {
          fill: #fff;
        }
      }
      &:active {
        box-shadow: 0 0 10px #FFA500;
      }
    }
  }
  & .prev svg {
      transform: rotate(180deg);
  }
}

@media (max-width: 1100px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .contacts__close {
    display: none;
  }
  .gallery{
    & .movable{
      width: 100%;
      height: auto;
      max-height: 85vh;
    }
    &__btns > button {
      margin: 10px;
      transform: scale(0.6);
    }
  }
  .header {
    &__links {
      display: none;
    }
    &__menu-btn {
      display: flex;
    }
  }
}